Overview of Data Class Builders Examples

In [2]:
class Coordinate:

    def __init__(self, lat, lon):
        self.lat = lat
        self.lon = lon
    
moscow = Coordinate(55.76, 37.62)
location = Coordinate(55.76, 37.62)
print(location == moscow)  # Note that the class objects do not equate.

False

In [7]:
from collections import namedtuple

Coordinate = namedtuple('Coordinate', 'lat lon')
print(issubclass(Coordinate, tuple))

moscow = Coordinate(55.76, 37.62)
location = Coordinate(55.76, 37.62)
print(moscow == location)

True
True

In [9]:
import typing

Coordinate = typing.NamedTuple('Coordinate', [('lat', float), ('lon', float)])
print(issubclass(Coordinate, tuple))
print(typing.get_type_hints(Coordinate))

True
{'lat': <class 'float'>, 'lon': <class 'float'>}

Sub-Classing typing.NamedTuple Examples

In [10]:
from typing import NamedTuple

class Coordinate(NamedTuple):
    lat: float
    lon: float
    
    def __str__(self):
        ns = 'N' if self.lat >= 0 else 'S'
        we = 'E' if self.lon >= 0 else 'W'
        return f'{abs(self.lat):.1f}째{ns}, {abs(self.lon):.1f}째{we}'

In [ ]:
from dataclasses import dataclass

@dataclass(frozen=True)
class Coordinate:
    lat: float
    lon: float
    
    def __str__(self):
        ns = 'N' if self.lat >= 0 else 'S'
        we = 'E' if self.lon >= 0 else 'W'
        return f'{abs(self.lat):.1f}째{ns}, {abs(self.lon):.1f}째{we}'

Classing Named Tuples Examples

In [15]:
from collections import namedtuple
import json

City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
print(tokyo)
print(tokyo.population)
print(tokyo.coordinates)
print(tokyo[1])

print(City._fields)
Coordinate = namedtuple('Coordinate', 'lat lon')
delhi_data = ('Delhi NCR', 'IN', 21.935, Coordinate(28.613889, 77.208889))
delhi = City._make(delhi_data)
print(delhi._asdict())
print(json.dumps(delhi._asdict()))

Coordinate = namedtuple('Coordinate', 'lat lon reference', defaults=['WGS84'])
print(Coordinate(0, 0))
print(Coordinate._field_defaults)

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))
36.933
(35.689722, 139.691667)
JP
('name', 'country', 'population', 'coordinates')
{'name': 'Delhi NCR', 'country': 'IN', 'population': 21.935, 'coordinates': Coordinate(lat=28.613889, lon=77.208889)}
{"name": "Delhi NCR", "country": "IN", "population": 21.935, "coordinates": [28.613889, 77.208889]}
Coordinate(lat=0, lon=0, reference='WGS84')
{'reference': 'WGS84'}

Hacking the Named Tuple to Inject Methods

In [16]:
import collections
Card = collections.namedtuple('Card', ['rank','suit'])

def spades_high(card):
    rank_value = FrenchDeck.ranks.index(card.rank)
    suit_value = card.suit_values[card.suit]
    return rank_value * len(card.suit_values) + suit_value

class FrenchDeck:
    ranks = [str(n) for n in range(2, 11)] + list('JQKA')
    suits = 'spades diamonds clubs hearts'.split()
    Card.suit_values = dict(spades=3, hearts=2, diamonds=1, clubs=0)
    
    def __init__(self):
        self._cards = [Card(rank, suit) for suit in self.suits
                                        for rank in self.ranks]
    
    def __len__(self):
        return len(self._cards)

    def __getitem__(self, position):
        return self._cards[position]


Card.overall_rank = spades_high
lowest_card = Card('2', 'clubs')
highest_card = Card('A', 'spades')
print(lowest_card.overall_rank())
print(highest_card.overall_rank())

0
51

Typed Named Tuples Examples

In [17]:
from typing import NamedTuple

class Coordinate(NamedTuple):
    """Every instance field must be annotated with a type."""
    lat: float
    lon: float
    reference: str = 'WGS84'

Type Hints Examples

In [4]:
class DemoPlainClass:
    a: int              # Becomes an entry in __annotations__ 
    b: float = 1.1      # Saved as an annotation, and becomes a class attribute
    c = 'span'          # A non-annotated attribute

# Verifying Class annotations
print(DemoPlainClass.__annotations__)
# print(DemoPlainClass.a, DemoPlainClass.b, DemoPlainClass.c) # Raises AttributeError
print(DemoPlainClass.b, DemoPlainClass.c)

{'a': <class 'int'>, 'b': <class 'float'>}
1.1 span

In [20]:
from typing import NamedTuple
class DemoNTClass(NamedTuple):
    a: int
    b: float = 1.1
    c = 'spam'
    # Note that only b is considered an optional argument on class creation.
# Verifying Class annotations
print(DemoNTClass.__annotations__)
print(DemoNTClass.__doc__)
print(DemoNTClass.a, '\n', DemoNTClass.b, '\n', DemoNTClass.c)

# Creating a class instance
nt = DemoNTClass(8)
print(nt.a, '\n', nt.b, '\n', nt.c)

# Finding differences in error messages between nt.a, nt.b, nt.c
# nt.a = 1 # AttributeError, can't set attribute
# nt.b = 5 # AttributeError, can't set attribute
# nt.c = 1 # AttributeError, object attribute is read-only

{'a': <class 'int'>, 'b': <class 'float'>}
DemoNTClass(a, b)
_tuplegetter(0, 'Alias for field number 0')
 _tuplegetter(1, 'Alias for field number 1')
 spam
8
 1.1
 spam

In [24]:
from dataclasses import dataclass

@dataclass
class DemoDataClass:
    a: int          # annotation and instance attribute controlled by the descriptor
    b: float = 1.1  # annotation and attribute controlled by descriptor with default value
    c = 'spam'      # class attribute with no annotation reference
    

print(DemoDataClass.__annotations__)
print(DemoDataClass.__doc__)
# print(DemoDataClass.a, '\n', DemoDataClass.b, '\n', DemoDataClass.c) # Same results as above
print('\n', DemoDataClass.b, '\n', DemoDataClass.c)

dc = DemoDataClass(9)
print(dc.a, dc.b, dc.c)

{'a': <class 'int'>, 'b': <class 'float'>}
DemoDataClass(a: int, b: float = 1.1)

 1.1
 spam
9 1.1 spam

@dataclass Examples

In [28]:
from dataclasses import dataclass, field

@dataclass
class ClubMember:
    name: str
    # guests: list = []
    # Raises ValueError - mutable default for field guests is not allowed, use default_factory
    guests: list = field(default_factory=list)

@dataclass Default Field Function Examples

In [30]:
from dataclasses import dataclass, field

@dataclass
class ClubMember:
    name: str
    guests: list = field(default_factory=list)
    athlete: bool = field(default=False, repr=False)

Post-init Processing Examples

In [35]:
from dataclasses import dataclass, field

@dataclass
class ClubMember:
    name: str
    guests: list = field(default_factory=list)
    athlete: bool = field(default=False, repr=False)
    
@dataclass
class HackerClubMember(ClubMember):
    all_handles = set() #***NOTE***: This is a mutable attribute shared between all class instances.
    handle: str = ''
    
    def __post_init__(self):
        cls = self.__class__
        if self.handle == '':
            self.handle = self.name.split()[0]
            
        if self.handle in cls.all_handles:
            msg = f'handle {self.handle!r} already exists.'
            raise ValueError(msg)
        cls.all_handles.add(self.handle)

InitVar Examples

In [58]:
from dataclasses import dataclass, InitVar
import json
my_database = json.dumps({'a_name':'value_a', 'b_name':'value_b'})

@dataclass
class C:
    i: int
    j: int = None
    database: InitVar[json] = None 
    
    def __post_init__(self, database):
        if self.j is None and database is not None:
            # self.j = ascii(database.lookup('j'))
            pass

c = C(10, database=my_database)

@dataclass Examples

In [69]:
from dataclasses import dataclass, field, fields
from typing import Optional
from enum import Enum, auto
import datetime

class ResourceType(Enum):
    BOOK = auto()
    EBOOK = auto()
    VIDEO = auto()

@dataclass
class Resource:
    """Media resource description"""
    identifier: str
    title: str = '<untitled>'
    creators: list[str] = field(default_factory=list)
    date: Optional[datetime.date] = None
    type: ResourceType = ResourceType.BOOK
    description: str = ''
    language: str = ''
    subjects: list[str] = field(default_factory=list)
    
    def __repr__(self):
        cls = self.__class__
        cls_name = cls.__name__
        indent = ' ' * 4
        res = [f'{cls_name}(']
        for f in fields(cls):
            value = getattr(self, f.name)
            res.append(f'{indent}{f.name} = {value!r},')
        res.append(')')
        return '\n'.join(res)
    
description = 'Improving the design of existing code'
book = Resource('978-0-13-475759-9', 'Refactoring, 2nd Edition',
                ['Martin Fowler', 'Kent Beck'], datetime.date(2018, 11, 19),
                ResourceType.BOOK, description, 'EN',
                ['computer programming', 'OOP'])

print(book)

Resource(
    identifier = '978-0-13-475759-9',
    title = 'Refactoring, 2nd Edition',
    creators = ['Martin Fowler', 'Kent Beck'],
    date = datetime.date(2018, 11, 19),
    type = <ResourceType.BOOK: 1>,
    description = 'Improving the design of existing code',
    language = 'EN',
    subjects = ['computer programming', 'OOP'],
)

Keyword Class Patterns Examples

In [70]:
import typing 

class City(typing.NamedTuple):
    continent: str
    name: str
    country: str

cities = [
    City('Asia', 'Tokyo', 'JP'),
    City('Asia', 'Delhi', 'IN'),
    City('North America', 'Mexico City', 'MX'),
    City('North America', 'New York', 'US'),
    City('South America', 'S찾o Paulo', 'BR'),
]

def match_asian_countries():
    results = []
    for city in cities:
        match city:
            case City(continent='Asia', country=cc):
                results.append(cc)
    return results

print(match_asian_countries())

['JP', 'IN']

Positional Class Patterns Examples

In [73]:
def match_asian_cities_pos():
    results = []
    for city in cities:
        match city:
            case City('Asia'):
                results.append(city)
    return results

print(match_asian_cities_pos())

[City(continent='Asia', name='Tokyo', country='JP'), City(continent='Asia', name='Delhi', country='IN')]

In [75]:
def match_asian_countries_pos():
    results = []
    for city in cities:
        match city:
            case City('Asia', _, country):
                results.append(country)
    return results

print(match_asian_countries_pos())

['JP', 'IN']