Local Scope with Comprehensions and Generator Expressions Example

In [4]:
x = 'ABC'
codes = [ord(x) for x in x]
x

'ABC'

In [6]:
codes

[65, 66, 67]

In [9]:
codes = [last := ord(c) for c in x]
last

67

In [11]:
c

NameError: name 'c' is not defined

1. x is still bound to 'ABC'
2. last remains callable
3. c is gone once the Comprehension finished.

Listcomps Versus map and filter Example

In [13]:
symbols = '$¢£¥€¤'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii

[162, 163, 165, 8364, 164]

In [14]:
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))
beyond_ascii

[162, 163, 165, 8364, 164]

Cartesian Products Example

In [15]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [16]:
for color in colors:
    for size in sizes:
        print((color, size))

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [17]:
tshirts = [(color, size) for size in sizes for color in colors]
tshirts

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

Note, the first Listcomp ordered by color then size, the second ordered by size then color.

Generator Expression Tuple Initialization Example

In [19]:
symbols = '$¢£¥€¤'
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

NOTE: If a generator expression is the single argument in a function call, you do not need to duplicate enclosing parenthesis.

In [22]:
import array
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

The array constructor takes two arguments, so the parenthesis around the generator expression are mandatory. The first argument of array defines the storage type for the numbers in the array.

Generator Expression with Cartesian Products

In [26]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
for tshirt in (f'{c} {s}' for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

Tuples as Records Example

In [28]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32_420, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [31]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

Line Number 
1. Latitude and longitude of an airport.
2. Data about Tokyo
3. List of tuples
4. Iterating over the list, passport is bound to each tuple.
5. % is a formatting operator that treats each item of the tuple as a separate field.
6. The for loop can retrieve the items of a tuple separately.
    This is what "unpacking" is.

Tuples as Immutable Lists Example

In [32]:
a = (10, 'alpha', [1,2])
b = (10, 'alpha', [1,2])
a == b

True

In [33]:
b[-1].append(99)
a == b

False

In [34]:
b

(10, 'alpha', [1, 2, 99])

Un-Hashable Tuples Cannot be a dict Key Example:

In [42]:
def fixed(o):
    try:
        hash(o)
    except TypeError:
        return False
    return True

tf = (10, 'alpha', (1,2))
tm = (10, 'alpha', [1,2])
print(fixed(tf), ', ', fixed(tm))

True ,  False

Parallel Assignment Unpacking Example

In [48]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates
print(latitude, ' ',longitude)

33.9425   -118.408056

Unpacking to Value Swap Example

In [49]:
b, a = a, b

Unpacking to Return Multiple Values

In [51]:
divmod(20,8)

(2, 4)

In [53]:
t = (20,8)
divmod(*t)

(2, 4)

In [55]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

Unpacking to Build Tuples Example

In [57]:
import os
_, filename = os.path.split('/home/user_name/.ssh/id_rsa.pub')
filename

'id_rsa.pub'

Grabbing Excess Items With * Example

In [59]:
a,b,*rest = range(5)
a,b,rest

(0, 1, [2, 3, 4])

Unpacking with * in Function Calls Example

In [60]:
def fun(a, b, c, d, *rest):
    return a, b, c, d, rest

fun(*[1,2], 3, *range(4, 7))

(1, 2, 3, 4, (5, 6))

Unpacking with * in Sequence Literals Example

In [61]:
print(*range(4), 4)
print([*range(4),4])
print({*range(4), 4, *(5,6,7)})

0 1 2 3 4
[0, 1, 2, 3, 4]
{0, 1, 2, 3, 4, 5, 6, 7}

Nested Unpacking Example

In [63]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
for name, _, _, (lat, lon) in metro_areas:
    if lon <= 0:
        print(f'{name:15} | {lat:9.4f} | {lon:9.4f}')

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358

Unpacking a Single Record of Type List Example

In [1]:
# [record] = query_returning_single_row()
# [[field]] = query_returning_single_row_with_single_field()

Sequenced Pattern Matching Example

In [5]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

def main():
    print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
    for record in metro_areas:
        match record:
            case [name,_,_, (lat, lon)] if lon <= 0:
                print(f'{name:15} | {lat:9.4f} | {lon:9.4f}')
                
main()

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358

The subject of the match is 'record', and the case has two parts, a pattern and an optional guard.

Assigning to Slices Example

In [12]:
l = list(range(10))
print(l)
l[2:5] = [20, 30]
print(l)
del l[5:7]
print(l)
l[3::2] = [11, 12]
print(l)
# l[2:5] = 100
# print(l)
l[2:5] = [100]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 5, 8, 9]
[0, 1, 20, 11, 5, 12, 9]
[0, 1, 100, 12, 9]

The right hand must be an iterable even if it's a list of length 1.

Using + and * with sequences

In [4]:
l = [1,2,3]
print(l*5)
print(5* 'abcd')

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
abcdabcdabcdabcdabcd

Building Lists of Lists

In [6]:
board = [[''] * 3 for i in range(3)]
print(board)
board[1][2] = 'X'
print(board)

[['', '', ''], ['', '', ''], ['', '', '']]
[['', '', ''], ['', '', 'X'], ['', '', '']]

Note the difference in what is referenced within each nested list.

In [7]:
weird_board = [['_'] * 3] * 3
print(weird_board)
weird_board[1][2] = 0
print(weird_board)

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]
[['_', '_', 0], ['_', '_', 0], ['_', '_', 0]]